/frontend/node_modules
/frontend/dist
/frontend/.tmp
/frontend/bower_components
/frontend/app/scripts/config.js
/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/bin/